@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-fixed-topc">
    @(Html.Kendo().ButtonGroup()
                .Name("player")
                .Items(t =>
                {
                    t.Add().Text("Orders").HtmlAttributes(new { style = "width: inherit;" });
                    t.Add().Text("Can buy").HtmlAttributes(new { style = "width: inherit;" });
                    t.Add().Text("Sellers").HtmlAttributes(new { style = "width: inherit;" });
                    t.Add().Text("In hands").HtmlAttributes(new { style = "width: inherit;" });
                    t.Add().Text("Log out").HtmlAttributes(new { style = "width: inherit;" });
                })
                .Events(ev => ev.Select("onSelect"))
                .HtmlAttributes(new { style = "width:100%" })
    )
</div>
<div style="width:100%">
    <div style="position:center; text-align:center" id="mainpage"></div>
</div>



<script>
    function onSelect(e) {
        var index = e.indices;
        debugger;
        switch (index[0]) {
            case 0:
                var url = '@Url.Action("GetMyOrder")';
                break;
            case 1:
                var url = '@Url.Action("GetOrders")';
                break;
            case 2:
                var url = '@Url.Action("GetSellers")';
                break;
            case 3:
                var url = '@Url.Action("GetMyItems")';
                break;
            case 4:
                var url = '@Url.Action("GetAuthorize")';
                break;
        }
        
        $("#mainpage").load(url);
    }
    function toOrder(){
        debugger;
    }
</script>

<style>
    .menu {
        position: absolute;
        height: 200px;
        width: 400px;
        margin: -100px 0 0 -200px;
        left: 50%;
    }
</style>


